<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./css/style.css">
    <title>{title}</title>
</head>

<body>
    <div class="header">
        <a href="../home.html"><img src="./assets/images/denote-logo.png"></a>
    </div>
    <div class="container">
        {body|s}
    </div>
    <div class="footer">
        <a href="www.edifixio.html"><img src="./assets/images/edifixio-logo.png"></a>
    </div>    
</body>

</html>