<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./css/style.css">
    <title>{title}</title>
</head>

<body>
    <div class="header">
        <a href="Home"><img src="./assets/images/denote-logo.png"></a>
        <hr>
    </div>
    <div class="container">
        <div class="menu"></div>
        <div class="content">
            {body|s}
        </div>
        <div class="futur"></div>
        
    </div>
    <div class="footer">
        <hr>
        <a href="https://www.edifixio.com"><img src="./assets/images/edifixio-logo.png"></a>
    </div>    
</body>

</html>